{% extends 'base.html' %}
{% block title %}
Vaibhav's Blogs
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="h1 text-dark p-3">List of Blogs</h1>
    <form method="post" class="p-3">
        {% csrf_token %}
        <div class="form-group py-3">
            <label for="query" class="py-2">Search using Natural Language</label>
            <input type="text" id="query" name="query" class="form-control" placeholder="Search">
        </div>
        <button class="btn btn-success">Search</button>
    </form>
    {% for blog in blogs %}
    <div class="card m-3">
        <div class="card-header">{{blog.date}}</div>
        <div class="card-body">
            <h5 class="card-title">{{blog.title}}</h5>
            <div class="card-text">
                {{blog.content | truncatechars:409 | safe}}
            </div>
            <p><i>~ {{blog.author.username}}</i></p>
            <a href="{% url 'get_blog' blog.id %}" class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}